/*===GLOBAL===*/
body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-size: 17px;
   width: 100%;
   position: relative;
}


a {
	font-weight: bold;
	color: #fff;
}

a:visited {
	color: #fff;
}

li {
	/*list-style: none;*/
}

h1 {
	font-family: "Lato", sans-serif;
	padding-bottom: 15px;
}

h3 {
	line-height: 40px;
}


img {
	max-width: 100%;
	margin-top: 30px;
	margin-bottom: 50px;
}

.center {
	text-align: center;
}

section {
	padding: 0 0 50px 0;
}

.darker {
	background: #2D767F;
}

hr {
	height: 10px;
	background-color: #1E6262;
	margin: 40px 0 50px 0;
}

.white a{
	color: #fff !important;
	text-decoration: none !important;
	font-size: 1.2em;
}


.lead {
	font-weight: bold;
}

.border {
	border: 1px solid #000;
}



/*===HEADER===*/

/*header {
	margin-bottom: 50px;
}*/

/*===INTRO===*/
#intro {
	background: url("/../assets/img/bookbackground.jpg");
	background-size: cover;
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	text-align: center;
	min-height: 600px;
	color: #fff;
}

#intro a {
	color: #000;
	text-decoration: underline;
}

#intro h1{
	padding-top: 250px;
	font-size: 2.5em;

}

/*===WHAT I'VE BUILT===*/

#built {
	background: #fff;
	text-align: center;
	padding-top: 50px;
}

#built h1 {
	padding-bottom: 40px;
}

#built a {
	color: #000;
	text-decoration: none;
	border-bottom: 4px solid #B4F1F1;
}

#built p{
	text-align: left;
}

#projects {
	/*border: 1px solid #fff;
	border-radius: 10px;*/
	padding: 20px 0 40px 0;
	
	
}

/*===WHAT I KNOW===*/

#know {
	text-align: center;
	background: #ECFFFB;


}
#know ul{
	padding-left: 0;
}
#know li{
	list-style: none;

}

.lighter {
	background: #ECFFFB;
	color: #000;
	border: 1px solid #000;
	border-radius: 10px;
}

.skills {
	min-height: 400px;
	padding: 20px;
	/*margin-left: 15px;
	margin-right: 15px;*/


}

.bottom {
	padding-top: 140px;
}

.purple {
	font-weight: bold;
	color: #5B4282;
}

.html {
	border: 1px solid #000;
	text-align: left;	
}

/*===ABOUT ME===*/

#about-me {
	background: #1E6262;
	text-align: center;
	color: #fff;
}

#about-me li{
	text-align: left;
}

#about-me a{
	text-decoration: none;
	border-bottom: 4px solid #B4F1F1;
}

#bio {
	text-align: left;
}

.whitebox {
	border: 5px solid #fff;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 50px;
}

/*===CONTACT===*/

#contact {
	text-align: center;
	min-height: 500px;
	padding-top: 50px;
}

#contact a{
	text-decoration: none;
	border-bottom: 4px solid #B4F1F1;
	color: #000;
}
/*===FOOTER===*/

footer {
	background: #000;
	color: #fff;
	padding: 25px;
}

footer p{
	margin-bottom: 0;
}

footer a{
	text-decoration: none;
	border-bottom: 4px solid #B4F1F1;
}

/*===MODALS===*/

@media screen and (max-width: 767px){
	.lighter {
		/*border: 1px solid #ccc;*/
		margin-bottom: 25px;


	}
}

@media screen and (min-width: 768px){
	.middle{ /*add padding to #know and #contact sections*/
		margin: 100px 0 100px 0;
	}
}

@media screen and (max-width: 863px){
	/*#intro {
		background: url("/../assets/img/bookbackground.jpg");
		background-size: cover;
		background-position: 0% 50%;
	}*/
}





